/hlearn-play/cabal-dev/
/hlearn-play/cc_res.dat
/hlearn-play/cc_res.gnu
/hlearn-play/cc_res.ps
/hlearn-play/data/ace_2012_10_11_cc
/hlearn-play/data/ace_2012_10_11_mtn
/hlearn-play/data/ace_2012_10_11_vc
/hlearn-play/dist/

